/*Universal Selector*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Element Selectors*/
body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*Class Selector for h1 attribute*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*Id Selector*/
#seo {
/*Color for only -seo- in h1 attribute of the header*/    
    color: #d9dcd6;
}

/*Class selector for div attribute in header*/
.header div {
    padding-top: 15px;
    margin-right: 20px;
/*Floats links to the right side of the header*/
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*Class Selector for unordered list in the header*/
.header div ul {
    list-style-type: none;
}

/*Class Selector for unordered list in header*/
.header div ul li {
/*Creates links horizontally*/
    display: inline-block;
    margin-left: 25px;
}

/*Element selector for links*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*Element selector for text*/
p {
    font-size: 16px;
}

/*Class Selector*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*Class Selector*/
.float-left {
/*Offsets text to the left of the image in content*/
    float: left;
    margin-right: 25px;
}

/*Offsets text to the right of the image in content*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*Class Selector*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Class Selector*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
/*Offsets element to the right of content*/
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*Class Selector*/
.benefit-1 {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Class Selector for h3 in benefit-1*/
.benefit-1 h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Class Selector for image in benefit-1*/
.benefit-1 img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Class Selector*/
.content-1 {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Class Selector for images in content-1*/
.content-1 img {
    max-height: 200px;
}

/*Class Selector for h2 in content-1*/
.content-1 h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Class Selector*/
.footer {
    padding: 30px;
/*Moves element below floating elements*/    
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*Class Selector for h2 in footer*/
.footer h2 {
    font-size: 20px;
}
